<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-gradient-primary">
            <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="text-value-lg">9.823</div>
                    <div>Members online</div>
                </div>
                <div class="btn-group">
                    <button aria-expanded="false" aria-haspopup="true"
                            class="btn btn-transparent dropdown-toggle p-0"
                            data-toggle="dropdown" type="button">
                        <svg class="montreee-icon">
                            <use xlink:href="ui/assets/icons/free-symbol-defs.svg#cil-settings"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a
                            class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something
                        else here</a></div>
                </div>
            </div>
            <div class="montreee-chart-wrapper mt-3 mx-3" style="height:70px;">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <canvas class="chart chartjs-render-monitor" height="87" id="card-chart1"
                        style="display: block; height: 70px; width: 162px;" width="202"></canvas>
                <div class="montreee-chartjs-tooltip bottom" id="card-chart1-tooltip"
                     style="opacity: 0; left: 50.7598px; top: 144.662px;">
                    <div class="montreee-tooltip-header">
                        <div class="montreee-tooltip-header-item">June</div>
                    </div>
                    <div class="montreee-tooltip-body">
                        <div class="montreee-tooltip-body-item"><span class="montreee-tooltip-body-item-color"
                                                                      style="background-color: rgb(50, 31, 219);"></span><span
                                class="montreee-tooltip-body-item-label">My First dataset</span><span
                                class="montreee-tooltip-body-item-value">55</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-gradient-info">
            <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="text-value-lg">9.823</div>
                    <div>Members online</div>
                </div>
                <div class="btn-group">
                    <button aria-expanded="false" aria-haspopup="true"
                            class="btn btn-transparent dropdown-toggle p-0"
                            data-toggle="dropdown" type="button">
                        <svg class="montreee-icon">
                            <use xlink:href="ui/assets/icons/free-symbol-defs.svg#cil-settings"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a
                            class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something
                        else here</a></div>
                </div>
            </div>
            <div class="montreee-chart-wrapper mt-3 mx-3" style="height:70px;">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <canvas class="chart chartjs-render-monitor" height="87" id="card-chart2"
                        style="display: block; height: 70px; width: 162px;"
                        width="202"></canvas>
                <div class="montreee-chartjs-tooltip bottom top" id="card-chart2-tooltip"
                     style="opacity: 0; left: 84.9053px; top: 159.054px;">
                    <div class="montreee-tooltip-header">
                        <div class="montreee-tooltip-header-item">January</div>
                    </div>
                    <div class="montreee-tooltip-body">
                        <div class="montreee-tooltip-body-item"><span class="montreee-tooltip-body-item-color"
                                                                      style="background-color: rgb(51, 153, 255);"></span><span
                                class="montreee-tooltip-body-item-label">My First dataset</span><span
                                class="montreee-tooltip-body-item-value">1</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-gradient-warning">
            <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="text-value-lg">9.823</div>
                    <div>Members online</div>
                </div>
                <div class="btn-group">
                    <button aria-expanded="false" aria-haspopup="true"
                            class="btn btn-transparent dropdown-toggle p-0"
                            data-toggle="dropdown" type="button">
                        <svg class="montreee-icon">
                            <use xlink:href="ui/assets/icons/free-symbol-defs.svg#cil-settings"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a
                            class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something
                        else here</a></div>
                </div>
            </div>
            <div class="montreee-chart-wrapper mt-3" style="height:70px;">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <canvas class="chart chartjs-render-monitor" height="87" id="card-chart3"
                        style="display: block; height: 70px; width: 194px;"
                        width="242"></canvas>
                <div class="montreee-chartjs-tooltip top bottom" id="card-chart3-tooltip"
                     style="opacity: 0; left: 117.685px; top: 123px;">
                    <div class="montreee-tooltip-header">
                        <div class="montreee-tooltip-header-item">March</div>
                    </div>
                    <div class="montreee-tooltip-body">
                        <div class="montreee-tooltip-body-item"><span class="montreee-tooltip-body-item-color"
                                                                      style="background-color: rgba(255, 255, 255, 0.2);"></span><span
                                class="montreee-tooltip-body-item-label">My First dataset</span><span
                                class="montreee-tooltip-body-item-value">80</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-gradient-danger">
            <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="text-value-lg">9.823</div>
                    <div>Members online</div>
                </div>
                <div class="btn-group">
                    <button aria-expanded="false" aria-haspopup="true"
                            class="btn btn-transparent dropdown-toggle p-0"
                            data-toggle="dropdown" type="button">
                        <svg class="montreee-icon">
                            <use xlink:href="ui/assets/icons/free-symbol-defs.svg#cil-settings"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a
                            class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something
                        else here</a></div>
                </div>
            </div>
            <div class="montreee-chart-wrapper mt-3 mx-3" style="height:70px;">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <canvas class="chart chartjs-render-monitor" height="87" id="card-chart4"
                        style="display: block; height: 70px; width: 162px;"
                        width="202"></canvas>
                <div class="montreee-chartjs-tooltip top bottom" id="card-chart4-tooltip"
                     style="opacity: 0; left: 70.4404px; top: 121.6px;">
                    <div class="montreee-tooltip-header">
                        <div class="montreee-tooltip-header-item">April</div>
                    </div>
                    <div class="montreee-tooltip-body">
                        <div class="montreee-tooltip-body-item"><span class="montreee-tooltip-body-item-color"
                                                                      style="background-color: rgba(255, 255, 255, 0.2);"></span><span
                                class="montreee-tooltip-body-item-label">My First dataset</span><span
                                class="montreee-tooltip-body-item-value">82</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h4 class="card-title mb-0">Traffic</h4>
                <div class="small text-muted">September 2019</div>
            </div>
            <div aria-label="Toolbar with buttons" class="btn-toolbar d-none d-md-block" role="toolbar">
                <div class="btn-group btn-group-toggle mx-3" data-toggle="buttons">
                    <label class="btn btn-outline-secondary">
                        <input autocomplete="off" id="option1" name="options" type="radio"> Day
                    </label>
                    <label class="btn btn-outline-secondary active">
                        <input autocomplete="off" checked="" id="option2" name="options" type="radio"> Month
                    </label>
                    <label class="btn btn-outline-secondary">
                        <input autocomplete="off" id="option3" name="options" type="radio"> Year
                    </label>
                </div>
                <button class="btn btn-primary" type="button">
                    <svg class="montreee-icon">
                        <use xlink:href="ui/assets/icons/free-symbol-defs.svg#cil-cloud-download"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="montreee-chart-wrapper" style="height:300px;margin-top:40px;">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <canvas class="chart chartjs-render-monitor" height="375" id="main-chart"
                    style="display: block; height: 300px; width: 830px;"
                    width="1037"></canvas>
            <div class="montreee-chartjs-tooltip center" id="main-chart-tooltip"
                 style="opacity: 0; left: 739.471px; top: 227.913px;">
                <div class="montreee-tooltip-header">
                    <div class="montreee-tooltip-header-item">S</div>
                </div>
                <div class="montreee-tooltip-body">
                    <div class="montreee-tooltip-body-item"><span class="montreee-tooltip-body-item-color"
                                                                  style="background-color: rgba(3, 9, 15, 0.1);"></span><span
                            class="montreee-tooltip-body-item-label">My First dataset</span><span
                            class="montreee-tooltip-body-item-value">137</span></div>
                    <div class="montreee-tooltip-body-item"><span class="montreee-tooltip-body-item-color"
                                                                  style="background-color: transparent;"></span><span
                            class="montreee-tooltip-body-item-label">My Second dataset</span><span
                            class="montreee-tooltip-body-item-value">92</span></div>
                    <div class="montreee-tooltip-body-item"><span class="montreee-tooltip-body-item-color"
                                                                  style="background-color: transparent;"></span><span
                            class="montreee-tooltip-body-item-label">My Third dataset</span><span
                            class="montreee-tooltip-body-item-value">65</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row text-center">
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Visits</div>
                <strong>29.703 Users (40%)</strong>
                <div class="progress progress-xs mt-2">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                         class="progress-bar bg-gradient-success" role="progressbar" style="width: 40%"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Unique</div>
                <strong>24.093 Users (20%)</strong>
                <div class="progress progress-xs mt-2">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="20"
                         class="progress-bar bg-gradient-info" role="progressbar" style="width: 20%"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Pageviews</div>
                <strong>78.706 Views (60%)</strong>
                <div class="progress progress-xs mt-2">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                         class="progress-bar bg-gradient-warning" role="progressbar" style="width: 60%"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">New Users</div>
                <strong>22.123 Users (80%)</strong>
                <div class="progress progress-xs mt-2">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                         class="progress-bar bg-gradient-danger" role="progressbar" style="width: 80%"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Bounce Rate</div>
                <strong>40.15%</strong>
                <div class="progress progress-xs mt-2">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar"
                         role="progressbar" style="width: 40%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-header bg-facebook content-center">
                <svg class="montreee-icon montreee-icon-3xl text-white my-4">
                    <use xlink:href="#cib-facebook-f"></use>
                </svg>
                <div class="montreee-chart-wrapper">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" height="120" id="social-box-chart-1"
                            style="display: block; height: 96px; width: 269px;"
                            width="336"></canvas>
                </div>
            </div>
            <div class="card-body row text-center">
                <div class="col">
                    <div class="text-value-xl">89k</div>
                    <div class="text-uppercase text-muted small">friends</div>
                </div>
                <div class="montreee-vr"></div>
                <div class="col">
                    <div class="text-value-xl">459</div>
                    <div class="text-uppercase text-muted small">feeds</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-header bg-twitter content-center">
                <svg class="montreee-icon montreee-icon-3xl text-white my-4">
                    <use xlink:href="#cib-twitter"></use>
                </svg>
                <div class="montreee-chart-wrapper">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" height="120" id="social-box-chart-2"
                            style="display: block; height: 96px; width: 269px;"
                            width="336"></canvas>
                    <div class="montreee-chartjs-tooltip bottom" id="social-box-chart-2-tooltip"
                         style="opacity: 0; left: 102.018px; top: 71.04px;">
                        <div class="montreee-tooltip-header">
                            <div class="montreee-tooltip-header-item">February</div>
                        </div>
                        <div class="montreee-tooltip-body">
                            <div class="montreee-tooltip-body-item"><span class="montreee-tooltip-body-item-color"
                                                                          style="background-color: rgba(255, 255, 255, 0.1);"></span><span
                                    class="montreee-tooltip-body-item-label">My First dataset</span><span
                                    class="montreee-tooltip-body-item-value">13</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body row text-center">
                <div class="col">
                    <div class="text-value-xl">973k</div>
                    <div class="text-uppercase text-muted small">followers</div>
                </div>
                <div class="montreee-vr"></div>
                <div class="col">
                    <div class="text-value-xl">1.792</div>
                    <div class="text-uppercase text-muted small">tweets</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-header bg-linkedin content-center">
                <svg class="montreee-icon montreee-icon-3xl text-white my-4">
                    <use xlink:href="#cib-linkedin"></use>
                </svg>
                <div class="montreee-chart-wrapper">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" height="120" id="social-box-chart-3"
                            style="display: block; height: 96px; width: 269px;"
                            width="336"></canvas>
                    <div class="montreee-chartjs-tooltip top bottom" id="social-box-chart-3-tooltip"
                         style="opacity: 0; left: 145.333px; top: 63.36px;">
                        <div class="montreee-tooltip-header">
                            <div class="montreee-tooltip-header-item">May</div>
                        </div>
                        <div class="montreee-tooltip-body">
                            <div class="montreee-tooltip-body-item"><span class="montreee-tooltip-body-item-color"
                                                                          style="background-color: rgba(255, 255, 255, 0.1);"></span><span
                                    class="montreee-tooltip-body-item-label">My First dataset</span><span
                                    class="montreee-tooltip-body-item-value">34</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body row text-center">
                <div class="col">
                    <div class="text-value-xl">500+</div>
                    <div class="text-uppercase text-muted small">contacts</div>
                </div>
                <div class="montreee-vr"></div>
                <div class="col">
                    <div class="text-value-xl">292</div>
                    <div class="text-uppercase text-muted small">feeds</div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Traffic &amp; Sales</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="montreee-callout montreee-callout-info"><small class="text-muted">New
                                    Clients</small>
                                    <div class="text-value-lg">9,123</div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="montreee-callout montreee-callout-danger"><small class="text-muted">Recuring
                                    Clients</small>
                                    <div class="text-value-lg">22,643</div>
                                </div>
                            </div>

                        </div>

                        <hr class="mt-0">
                        <div class="progress-group mb-4">
                            <div class="progress-group-prepend"><span class="progress-group-text">Monday</span>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="34"
                                         class="progress-bar bg-gradient-info" role="progressbar"
                                         style="width: 34%"></div>
                                </div>
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="78" class="progress-bar bg-gradient-danger"
                                         role="progressbar"
                                         style="width: 78%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group mb-4">
                            <div class="progress-group-prepend"><span class="progress-group-text">Tuesday</span>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="56"
                                         class="progress-bar bg-gradient-info" role="progressbar"
                                         style="width: 56%"></div>
                                </div>
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="94" class="progress-bar bg-gradient-danger"
                                         role="progressbar"
                                         style="width: 94%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group mb-4">
                            <div class="progress-group-prepend"><span class="progress-group-text">Wednesday</span>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="12"
                                         class="progress-bar bg-gradient-info" role="progressbar"
                                         style="width: 12%"></div>
                                </div>
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="67" class="progress-bar bg-gradient-danger"
                                         role="progressbar"
                                         style="width: 67%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group mb-4">
                            <div class="progress-group-prepend"><span class="progress-group-text">Thursday</span>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="43"
                                         class="progress-bar bg-gradient-info" role="progressbar"
                                         style="width: 43%"></div>
                                </div>
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="91" class="progress-bar bg-gradient-danger"
                                         role="progressbar"
                                         style="width: 91%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group mb-4">
                            <div class="progress-group-prepend"><span class="progress-group-text">Friday</span>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="22"
                                         class="progress-bar bg-gradient-info" role="progressbar"
                                         style="width: 22%"></div>
                                </div>
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="73" class="progress-bar bg-gradient-danger"
                                         role="progressbar"
                                         style="width: 73%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group mb-4">
                            <div class="progress-group-prepend"><span class="progress-group-text">Saturday</span>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="53"
                                         class="progress-bar bg-gradient-info" role="progressbar"
                                         style="width: 53%"></div>
                                </div>
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="82" class="progress-bar bg-gradient-danger"
                                         role="progressbar"
                                         style="width: 82%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group mb-4">
                            <div class="progress-group-prepend"><span class="progress-group-text">Sunday</span>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="9"
                                         class="progress-bar bg-gradient-info" role="progressbar"
                                         style="width: 9%"></div>
                                </div>
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="69" class="progress-bar bg-gradient-danger"
                                         role="progressbar"
                                         style="width: 69%"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="montreee-callout montreee-callout-warning"><small class="text-muted">Pageviews</small>
                                    <div class="text-value-lg">78,623</div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="montreee-callout montreee-callout-success"><small
                                        class="text-muted">Organic</small>
                                    <div class="text-value-lg">49,123</div>
                                </div>
                            </div>

                        </div>

                        <hr class="mt-0">
                        <div class="progress-group">
                            <div class="progress-group-header">
                                <svg class="montreee-icon progress-group-icon">
                                    <use xlink:href="ui/assets/icons/free-symbol-defs.svg#cil-user"></use>
                                </svg>
                                <div>Male</div>
                                <div class="mfs-auto font-weight-bold">43%</div>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="43" class="progress-bar bg-gradient-warning"
                                         role="progressbar"
                                         style="width: 43%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group mb-5">
                            <div class="progress-group-header">
                                <svg class="montreee-icon progress-group-icon">
                                    <use xlink:href="ui/assets/icons/free-symbol-defs.svg#cil-user-female"></use>
                                </svg>
                                <div>Female</div>
                                <div class="mfs-auto font-weight-bold">37%</div>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="43" class="progress-bar bg-gradient-warning"
                                         role="progressbar"
                                         style="width: 43%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group">
                            <div class="progress-group-header align-items-end">
                                <svg class="montreee-icon progress-group-icon">
                                    <use xlink:href="#cib-google"></use>
                                </svg>
                                <div>Organic Search</div>
                                <div class="mfs-auto font-weight-bold mfe-2">191.235</div>
                                <div class="text-muted small">(56%)</div>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="56" class="progress-bar bg-gradient-success"
                                         role="progressbar"
                                         style="width: 56%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group">
                            <div class="progress-group-header align-items-end">
                                <svg class="montreee-icon progress-group-icon">
                                    <use xlink:href="#cib-facebook-f"></use>
                                </svg>
                                <div>Facebook</div>
                                <div class="mfs-auto font-weight-bold mfe-2">51.223</div>
                                <div class="text-muted small">(15%)</div>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="15" class="progress-bar bg-gradient-success"
                                         role="progressbar"
                                         style="width: 15%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group">
                            <div class="progress-group-header align-items-end">
                                <svg class="montreee-icon progress-group-icon">
                                    <use xlink:href="#cib-twitter"></use>
                                </svg>
                                <div>Twitter</div>
                                <div class="mfs-auto font-weight-bold mfe-2">37.564</div>
                                <div class="text-muted small">(11%)</div>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="11" class="progress-bar bg-gradient-success"
                                         role="progressbar"
                                         style="width: 11%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-group">
                            <div class="progress-group-header align-items-end">
                                <svg class="montreee-icon progress-group-icon">
                                    <use xlink:href="#cib-linkedin"></use>
                                </svg>
                                <div>LinkedIn</div>
                                <div class="mfs-auto font-weight-bold mfe-2">27.319</div>
                                <div class="text-muted small">(8%)</div>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="8" class="progress-bar bg-gradient-success"
                                         role="progressbar"
                                         style="width: 8%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

